# Default ignored files
/../../jee-user-crud./.idea/shelf/
/../../jee-user-crud./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../jee-user-crud./.idea/httpRequests/
# Datasource local storage ignored files
/../../jee-user-crud./.idea/dataSources/
/../../jee-user-crud./.idea/dataSources.local.xml
